@import "../abstracts/variables.scss";

.header {
  position: relative;
  height: $header-height;
  background: $app-color2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: white;

  .logo {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 30px;

    svg {
      font-size: 35px;
      color: $app-color1;
    }
  }

  .navbar {
    margin-right: 40px;

    .navmenu {
      display: flex;
      align-items: center;

      .listItem {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 19px;

        svg {
          font-size: 20px;
        }
      }
    }
  }

  .menuIcon {
    color: white;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 25px;

    .navbar {
      position: absolute;
      width: 100%;
      height: calc(100vh - $header-height);
      top: $header-height;
      left: 0;
      z-index: 100;
      background: white;
      display: none;

      &.expanded {
        display: block;
      }

      .navmenu {
        justify-content: center;

        .listItem {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 25px 0;
          color: $app-color2 !important;
          
          &:hover {
            background: rgb(237, 237, 237);
          }
        }
      }
    }
  }
}