
// app
$app-color1: #1877f2;
$app-color2: #202020;

// header
$header-height: 70px;
$header-mobile-height: 60px;

// media
$media-mobile: 912px;

// for use in components
:export {
  appColor1: $app-color1;
}